.light {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  background-color: var(--background-color);
  color: var(--primary-color); }

.dark {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #212529;
  background-color: var(--background-color);
  color: var(--primary-color); }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-family: $primaryFont; */
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

html {
  height: 100vh;
  font-size: 62.5%; }
