/* Variables Colors */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.light {
  transition: all 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  --black: #1A1A1A;
  --primary-color: #F9AC3C;
  --secondary-color: #6c757d;
  --background-color: #e6e6e6;
  --text-color: #1a1a1a;
  --dots-color: #1a1a1aef;
  --border-color: #1a1a1a;
  --text-shadow: #1a1a1a;
  --text-stroke: #F9AC3C;
  --burger-btn-color: #1a1a1a;
  background-color: var(--background-color);
  color: var(--primary-color); }

.dark {
  transition: all 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  --black: #1A1A1A;
  --primary-color: #F9AC3C;
  --secondary-color: #6c757d;
  --background-color: #1A1A1A;
  --text-color: #e6e6e6;
  --dots-color:  #e6e6e6ad;
  --border-color:  #e6e6e6;
  --text-shadow: #1A1A1A;
  --text-stroke: #1A1A1A;
  --burger-btn-color: #e6e6e6;
  background-color: var(--background-color);
  color: var(--primary-color); }

/* Variables fonts */
/* Flex box */
/* Layout */
/* Responsive */
/* Button */
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans", sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  /* overflow-x: hidden; */ }

html {
  height: 100vh;
  font-size: 62.5%;
  font-size: 1.6rem; }

body {
  position: relative; }

main {
  min-height: 100vh; }

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: var(--text-shadow) 7px 7px;
  font-family: "Anton", sans-serif; }

ol, ul {
  list-style: none; }

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent; }

a {
  text-decoration: none;
  color: inherit; }

/* HEADER */
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  /* HEADER WRAPPER */
  /* LOGO */
  /* ACTIONS */
  /* BURGER MENU */
  /* MENU ITEMS */ }
  .header--box {
    position: relative;
    z-index: 101;
    padding: 0 20px;
    height: 80px;
    border-bottom: 3px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .logo {
    z-index: 101; }
    .header .logo span {
      font-family: "Anton", sans-serif;
      font-size: 1.8rem;
      letter-spacing: 4px;
      text-shadow: var(--text-shadow) 5px 3px; }
  .header--actions {
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header--actions div:last-child {
      margin-left: 1rem; }
  .header .burger-menu {
    z-index: 101;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: 10px;
    transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    position: relative; }
    .header .burger-menu .bar {
      width: 100%;
      height: 0.3rem;
      background-color: var(--burger-btn-color);
      margin: 3px 0;
      transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
    .header .burger-menu.open .bar:first-child {
      transform: translateY(14px) rotate(45deg); }
    .header .burger-menu.open .bar:nth-child(2) {
      opacity: 0; }
    .header .burger-menu.open .bar:last-child {
      transform: translateY(-14px) rotate(-45deg); }
  .header .navbar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    clip-path: circle(0% at 50% 0);
    transition: all 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    display: flex;
    flex-direction: column; }
    .header .navbar.open {
      clip-path: circle(100% at 50% 50%); }
    .header .navbar .menu-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%; }
      .header .navbar .menu-items li {
        cursor: pointer; }
        .header .navbar .menu-items li a {
          color: var(--text-color);
          font-size: 4rem;
          font-family: "Anton", sans-serif;
          transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1); }
          .header .navbar .menu-items li a:hover {
            color: var(--primary-color); }
  .header .theme-switch {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .theme-switch svg {
      display: block;
      height: 100%;
      width: 100%;
      max-height: 50px; }
  .header .lang-switch {
    height: 47px;
    box-shadow: black 2.5px 2.5px 0px 0px; }
    .header .lang-switch .custom-select {
      background-color: var(--primary-color);
      height: 100%;
      font-family: "Anton", sans-serif;
      font-size: 1.1rem;
      outline: none; }
      .header .lang-switch .custom-select:focus, .header .lang-switch .custom-select:hover {
        background-color: var(--primary-color) !important;
        background: var(--primary-color) !important; }

/* FOOTER */
.footer {
  background-color: var(--primary-color);
  padding: 2rem 2rem 0 2rem;
  color: var(--black);
  border-top: var(--border-color) 3px solid; }
  .footer--links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem; }
    .footer--links__nav {
      flex: 1 1 0px; }
      .footer--links__nav span a {
        font-family: "Anton", sans-serif;
        font-size: 2rem; }
      .footer--links__nav p {
        margin: .5rem 0 1rem 0; }
      .footer--links__nav div a {
        font-weight: 900;
        margin-right: 1rem;
        font-style: italic; }
    .footer--links__social {
      flex: 1 1 0px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start; }
      .footer--links__social .contact-links {
        margin-bottom: 2rem; }
        .footer--links__social .contact-links p {
          font-weight: 600;
          font-style: italic;
          max-width: 550px;
          margin-bottom: .5rem; }
      .footer--links__social .social-links a {
        margin: 0 1.5rem 0 0;
        font-weight: 600; }
  .footer--legal span {
    font-size: .6rem;
    font-weight: 600; }

/* MAIN BUTTON */
.main-button {
  padding: .3rem 2rem;
  cursor: pointer;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  font-size: .9rem;
  background-color: var(--primary-color);
  border: var(--black) 2px solid;
  box-shadow: var(--black) 4px 3px 0px 0px; }

/* Home page styles */
.home {
  /* Hero section */
  /* Intro section */ }
  .home--hero {
    padding: 0 2rem;
    min-height: 100vh;
    padding-top: 80px;
    --dotSize: 0.1rem;
    --bgSize: .5rem;
    --bgPosition: calc(var(--bgSize) / 2);
    background-image: radial-gradient(circle at center, var(--dots-color) var(--dotSize), transparent 0), radial-gradient(circle at center, var(--dots-color) var(--dotSize), transparent 0);
    background-size: var(--bgSize) var(--bgSize);
    background-position: 0 0, var(--bgPosition) var(--bgPosition);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-color) 3px solid; }
    .home--hero__txt h1 {
      padding-top: 3rem;
      text-align: center; }
    .home--hero__img {
      border: var(--border-color) 3px solid;
      border-bottom: none;
      background-color: var(--background-color);
      min-width: 300px;
      min-height: 300px; }
  .home--intro {
    padding: 0 2rem; }

/* About page styles */
.about {
  /* Hero section */
  /* Intro section */
  /* Info section */
  /* Skills section */ }
  .about--hero {
    min-height: 100vh;
    padding-top: 80px; }
  .about--intro {
    padding: 0 2rem;
    --dotSize: 0.1rem;
    --bgSize: .5rem;
    --bgPosition: calc(var(--bgSize) / 2);
    background-image: radial-gradient(circle at center, var(--dots-color) var(--dotSize), transparent 0), radial-gradient(circle at center, var(--dots-color) var(--dotSize), transparent 0);
    background-size: var(--bgSize) var(--bgSize);
    background-position: 0 0, var(--bgPosition) var(--bgPosition);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: var(--border-color) 3px solid;
    border-top: var(--border-color) 3px solid; }
  .about--info {
    display: flex;
    align-items: center;
    justify-content: center; }
    .about--info__img {
      flex: 1 1 0px; }
    .about--info__txt {
      flex: 1 1 0px; }
