@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./utils/ui";

@import "./base/reset";

@import "./layout/header";
@import "./layout/footer";

@import "./components/button";
@import "./components/project-card";
@import "./components/loader";

@import "./pages/homepage";
@import "./pages/aboutpage";
@import "./pages/projectspage";
@import "./pages/projectpage";
@import "./pages/contactpage";
@import "./pages/restaurantpage";
@import "./pages/404page";


