/* FOOTER */
.footer {
    background-color: $green;
    padding: 2rem 2rem 0 2rem;
    color: $black;
    border-top: $border-color 3px solid;
    &--links {
        @include flex-space-between;
        align-items: start;
        margin-bottom: 1rem;
        @include screen1024 {
            @include flex-column;
        }
        &__nav {
            flex: 1 1 0px;
            span {
                a {
                    font-family: $displayFont;
                    font-size: 1.8rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    @include screen1024 {
                        font-size: 1.6rem;
                    }
                }
            }
            p {
                margin: .5rem 0 1rem 0;
                font-style: italic;
            }
            div {
                a {
                    margin-right: 1rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-style: italic;
                    @include screen768 {
                        font-size: .8rem;
                    }
                }
            }
        }
        &__social {
            flex: 1 1 0px;
            @include flex-column;
            align-items: start;
            justify-content: flex-start;
            @include screen1024 {
                margin-top: 2rem;
            }
            .contact-links {
                margin-bottom: 2rem;
                @include screen1024 {
                    margin-bottom: 1rem;
                }
                p {
                    font-weight: 600;
                    font-style: italic;
                    max-width: 550px;
                    margin-bottom: .5rem;
                    @include screen550 {
                        font-size: .9rem;
                    }
                }
            }
            .social-links {
                a {
                    margin: 0 1.5rem 0 0;
                    text-transform: uppercase;
                    font-size: .8rem;
                }
            }
        }
    } 
    &--legal {
        span {
            font-size: .6rem;
            font-weight: 400;
        }
    }
}