/* HEADER */
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background-color;
 
  /* HEADER WRAPPER */
  &--box {
    position: relative;
    z-index: 101;
    padding: 0 20px;
    height: 80px;
    border-bottom: 3px solid $border-color;
    @include flex-space-between;
  }
  /* LOGO */
  .logo {
    z-index: 101;
    & span {
      font-family: $displayFont;
      font-size: 2rem;
      font-weight: 700;
      color: $text-color;
    }
  }

  /* ACTIONS */
  &--actions {
    z-index: 101;
    @include flex-space-between;
    div:last-child {
     margin-left: 1rem;
    }
    @include screen550 {
      display: none;
    }
  }
  
  /* BURGER MENU */
  .burger-menu {
    z-index: 101;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: 10px;
    transition: transform .6s cubic-bezier(.55,0,.1,1);
    position: relative;
    .bar {
      width: 100%;
      height: 0.3rem;
      background-color: $burger-btn-color;
      margin: 3px 0;
      transition: all .6s cubic-bezier(.55,0,.1,1);
    }
  
    &.open {
      .bar {
        &:first-child {
          transform: translateY(14px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: translateY(-14px) rotate(-45deg);
        }
      }
    }
  }

  /* MENU ITEMS */
  .navbar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    clip-path: circle(0% at 50% 0);
    transition: all 1.2s cubic-bezier(.34,1.56,.64,1);
    @include flex-column;
    &.open {
      clip-path: circle(100% at 50% 50%);
    }
    .menu-items {
      @include flex-column;
      align-items: center;
      justify-content: center;
      height: 100%;
      li {
        cursor: pointer;
        a {
          color: $text-color;
          font-size: 4rem;
          font-family: $displayFont;
          text-transform: uppercase;
          transition: all .3s cubic-bezier(.55,0,.1,1);
          @include screen1550 {
            font-size: 3rem; 
          }
          @include screen550 {
            font-size: 2rem; 
          }
          &:hover {
            color: $purple;
          }
        }
      }
      &__btns {
        display: none;
        > div {
          margin: 2rem 1rem;
        }
        @include screen550 {
          display: flex;
        }
      }
    }
  } 
  .theme-switch {
    @include flex-center;
    & svg {
      cursor: pointer;
      display: block;
      height: 100%;
      width: 100%;
      max-height: 50px;
      & rect {
        fill: $background-color;
        stroke: $text-color;
      }
      & #sun {
        fill: $text-color;
      }
      & #square {
        fill: $text-color;
      }
    }
  }
  .lang-switch {
    cursor: pointer;
    height: 47px;
    box-shadow: $text-color 2.5px 2.5px 0px 0px;
    .custom-select {
      cursor: pointer;
      background-color: $background-color;
      height: 100%;
      font-family: $displayFont;
      color: $text-color;
      font-size: 1.1rem;
      outline: none;
      border: $text-color 1px solid;
      &:focus, &:hover  {
        background-color: $background-color !important;
        background: $background-color !important;
      }
    }
  }
}