*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $bodyTextFont;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    /* overflow-x: hidden; */
}

html {
    height: 100vh;  
    font-size: 62.5%;
    font-size: 1.6rem;;
}

body {
    position: relative;
}

main {
    min-height: 100vh; 
}

h1 {
    font-size: 3.2rem;
    font-family: $displayFont;
    font-weight: 400;
    text-transform: uppercase;
    @include screen1024 {
        font-size: 2.6rem;
    }
    @include screen550 {
        font-size: 1.8rem;
    }
}

h2, h3, h4 {
    font-family: $displayFont;
    font-weight: 400;
    text-transform: uppercase;
}

ol, ul{
    list-style: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}


.scroll-transition {
    background-color: $white;
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    opacity: 1; 
    background-color: $background-color;
    clip-path: circle(100% at 50% 50%);
    &.over {
        transition: all .9s cubic-bezier(.34,1.56,.64,1);
        clip-path: circle(0% at 50% 0);
    }
}