/* About page styles */
.about {
    /* Hero section */
    &--hero {
        min-height: 100vh;
        padding-top: 80px;
        @include flex-column;
        justify-content: space-between;
        &__txt {
            h1 {
                text-align: center;
                margin-bottom: 1.5rem;
            }
            p {
                text-align: center;
                margin-bottom: 2rem;
            }
        }
        &__img {
            width: 100%;
            border-top: $border-color 3px solid;
            img {
                display: block;
                max-height: 600px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    /* Intro section */
    &--intro {
        @include layout;
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-bottom: $border-color 3px solid;
        border-top: $border-color 3px solid;
        background-color: $green;
        display: flex;
        justify-content: center;
        span {
            color: $purple;
            text-transform: uppercase;
            font-style: italic;
            font-size: 2.5rem;
            font-weight: 700;
        }
        & span {
            margin-right: 1.5rem;
        }
        & h2 {
            max-width: 1000px;
            font-weight: 300;
            font-size: 1.4rem;
        }
    }
    /* Info section */
    &--info {
        @include flex-center;
        border-bottom: $border-color 3px solid;
        background-color: $purple;
        &__img {
            flex: 1 1 0px;
            border-right: $border-color 3px solid;
            img {
                display: block;
                max-height: 1000px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__txt {
            flex: 1 1 0px;
            padding: 2rem;
            color: $text-color;
            :first-child {
                margin-bottom: 1.6rem;
            }
        }

    }
    /* Skills section */
    &--skills {
        @include layout;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        h2 {
            max-width: 700px;
            margin: 1.5rem auto;
        }
        &__list {

        }
        &__cv {

        }

    }
}