@keyframes btn-animate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px); 
        background-color: $purple;
        letter-spacing: .7px;
    }
    100% {
        transform: translateY(0); 
    }
}