/* Flex box */
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Layout */
@mixin layout {
  padding: 0 2rem;
}

/* Responsive */
$screen1550: 1550px;
$screen1300: 1300px;
$screen1024: 1024px;
$screen768: 768px;
$screen550: 550px;

@mixin screen1550 {
    @media (max-width: #{$screen1550}) {
      @content;
    }
}


@mixin screen1300 {
    @media (max-width: #{$screen1300}) {
      @content;
    }
}

@mixin screen1024 {
    @media (max-width: #{$screen1024}) {
      @content;
    }
}

@mixin screen768 {
    @media (max-width: #{$screen768}) {
      @content;
    }
}

@mixin screen550 {
    @media (max-width: #{$screen550}) {
      @content;
    }
}


/* Button */
@mixin button {
  padding: .3rem 2rem;
  cursor: pointer;
  font-family: $displayFont;
  letter-spacing: 1px;
  font-size: .9rem;
}

/* Project card */
@mixin card {
  display: block;
  background-color: $background-color;
  padding: .7rem;
  border: 1px solid $border-color;
  width: 100%;
  max-width: 360px;
  box-shadow: $text-color 7px 5px 0px 0px;
}