@mixin halftone {
    --dotSize: 0.1rem;
    --bgSize: .5rem;
    --bgPosition: calc(var(--bgSize) / 2);
  
    background-image: radial-gradient(
        circle at center,
        $dots-color var(--dotSize),
        transparent 0
      ), radial-gradient(circle at center, $dots-color var(--dotSize), transparent 0);
    background-size: var(--bgSize) var(--bgSize);
    background-position: 0 0, var(--bgPosition) var(--bgPosition);
}