/* Variables Colors */
$black: var(--black);
$red: var(--red);
$blue: var(--blue);
$green: var(--green);
$white: var(--white);
$purple: var(--purple);

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$background-color: var(--background-color);

$text-color: var(--text-color);
$dots-color: var(--dots-color);
$border-color: var(--border-color);
$text-shadow: var(--text-shadow);
$text-stroke: var(--text-stroke);
$burger-btn-color: var(--burger-btn-color);

// Mixin for theme styles
@mixin applyThemeStyles {
  background-color: $background-color;
  color: $text-color;
}

// Light theme styles
.light {
  transition: all 1.2s cubic-bezier(.34,1.56,.64,1);
  --black: #1D1D1D;
  --red: #F65D5D;
  --purple: #B98CF1;
  --green: #7F8263;
  --white: #EFEFEF;

  --primary-color: #F9AC3C;
  --secondary-color: #6c757d;
  --background-color: #EFEFEF;

  --text-color: #1D1D1D;

  --dots-color: #1D1D1D;

  --border-color: #1D1D1D;

  --text-shadow: #1D1D1D;
  --text-stroke: #F9AC3C;

  --burger-btn-color: #1D1D1D;

  @include applyThemeStyles;
}

// Dark theme styles
.dark {
  transition: all 1.2s cubic-bezier(.34,1.56,.64,1);
  --black: #1D1D1D;
  --red: #F65D5D;
  --purple: #B98CF1;
  --green: #7F8263;
  --white: #EFEFEF;

  --primary-color: #F9AC3C;
  --secondary-color: #6c757d;
  --background-color: #1D1D1D;

  --text-color: #EFEFEF;

  --dots-color:  #EFEFEF;

  --border-color:  #EFEFEF;

  --text-shadow: #1D1D1D;
  --text-stroke: #1D1D1D;

  --burger-btn-color: #EFEFEF;

  @include applyThemeStyles;
}

/* Variables fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$displayFont: 'Lato', sans-serif;
$bodyTextFont: 'Lato', sans-serif;

