/* Variables Colors */
$black: var(--black);

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$background-color: var(--background-color);

$text-color: var(--text-color);
$dots-color: var(--dots-color);
$border-color: var(--border-color);
$text-shadow: var(--text-shadow);
$text-stroke: var(--text-stroke);
$burger-btn-color: var(--burger-btn-color);

// Mixin for theme styles
@mixin applyThemeStyles {
  background-color: $background-color;
  color: $primary-color;
}

// Light theme styles
.light {
  transition: all 1.2s cubic-bezier(.34,1.56,.64,1);
  --black: #1A1A1A;

  --primary-color: #F9AC3C;
  --secondary-color: #6c757d;
  --background-color: #e6e6e6;

  --text-color: #1a1a1a;

  --dots-color: #1a1a1aef;

  --border-color: #1a1a1a;

  --text-shadow: #1a1a1a;
  --text-stroke: #F9AC3C;

  --burger-btn-color: #1a1a1a;

  @include applyThemeStyles;
}

// Dark theme styles
.dark {
  transition: all 1.2s cubic-bezier(.34,1.56,.64,1);
  --black: #1A1A1A;

  --primary-color: #F9AC3C;
  --secondary-color: #6c757d;
  --background-color: #1A1A1A;

  --text-color: #e6e6e6;

  --dots-color:  #e6e6e6ad;

  --border-color:  #e6e6e6;

  --text-shadow: #1A1A1A;
  --text-stroke: #1A1A1A;

  --burger-btn-color: #e6e6e6;

  @include applyThemeStyles;
}

/* Variables fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$displayFont: 'Anton', sans-serif;
$bodyTextFont: 'Noto Sans', sans-serif;

